<div class="sidebar">
    <img class="blog-pic" src="https://as2.ftcdn.net/jpg/01/93/22/45/500_F_193224512_jktLglscIiq6MtUSlT3a7xavUvEp5uAe.jpg">
    <div style="text-align: center; font-size: 1em">Welcome to Spring Blog.
         Feel free to add a post to an existing topic, start a new thread, like, dislike and comment.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Topic</button>
    </div>
</div>